# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# ===== Virtual Environment =====
ENV/
env.bak/
venv.bak/

# ===== VS Code =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Environment variables =====
.env

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs =====
*.log

# ===== LangChain / HF cache =====
.cache/
.huggingface/
.transformers/
